
[Unit]
Description=Check disk space timer

[Timer]
Unit=check-space.service
OnCalendar=*-*-* *:02/20:00
RandomizedDelaySec=6m
AccuracySec=6m
Persistent=false

[Install]
WantedBy=timers.target
