
[Unit]
Description=Daily restart timer

[Timer]
Unit=daily-restart.service
OnCalendar=*-*-* 09:32:00
RandomizedDelaySec=6m
AccuracySec=6m
Persistent=false

[Install]
WantedBy=timers.target
